body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

/* Barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera para resaltar */
}

.navbar .logo img {
    width: 50px;
}

.navbar .nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.navbar .nav-links li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar .nav-links li a:hover {
    color: #4CAF50; /* Cambia a verde al pasar el mouse */
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    width: 90%;
    max-width: 800px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.profile-photo {
    position: relative;
    margin-bottom: 20px;
}

.profile-photo img {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Circular */
    border: 2px solid #4CAF50;
    object-fit: cover; /* Asegura que la imagen se ajuste */
}
.upload-button {
    display: block;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
.upload-button:hover {
    background-color: #45a049;
}


form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

form label {
    font-weight: bold;
}

form input, form select, form button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #4CAF50;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}
#edit-button {
    display: inline-block;
    background-color: #4CAF50; /* Verde claro */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

#edit-button:hover {
    background-color: #45a049; /* Verde más oscuro */
}

#edit-button:active {
    background-color: #3e8e41; /* Verde aún más oscuro */
    transform: scale(0.98); /* Efecto de clic */
}

