<footer class="site-footer">
    <div class="footer-content">
        <p>&copy; 2024 Diabetixx. Todos los derechos reservados.</p>
        <ul class="footer-links">
            <li><a href="sobre-nosotros.html">Sobre Nosotros</a></li>
            <li><a href="funcionalidades.html">Nuestras Funcionalidades</a></li>
            <li><a href="privacidad.html">Política de Privacidad</a></li>
            <li><a href="terminos.html">Términos y Condiciones</a></li>
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
        <div class="footer-social">
            <a href="https://twitter.com" target="_blank" aria-label="Twitter"><i class="fa fa-twitter"></i></a>
            <a href="https://facebook.com" target="_blank" aria-label="Facebook"><i class="fa fa-facebook"></i></a>
            <a href="https://instagram.com" target="_blank" aria-label="Instagram"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
</footer>
